<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
   
    <add name="nrec" connectionString="server=10.0.0.22;user id=root;password=R0ma.2018;persistsecurityinfo=False;database=NormaRecTest;Allow Zero Datetime=True;Convert Zero Datetime=True;"/>
   
  </connectionStrings>
  <appSettings>
    <add key="destpat" value="\\10.0.0.11\SCANNER\OUTPUT\"/>
    <add key="risulpat" value="\\10.0.0.11\SCANNER\RISULTATI_TEST\"/>
    <add key="csvtpat" value="\\10.0.0.11\SCANNER\CSV\"/>
    <add key="logpat" value="\\10.0.0.11\SCANNER\LOG\"/>
    <add key="inizpat" value="E:\SERVIZIO\NORMAREC\SCANNER\Archivio"/>
    <add key="sftpf" value="/opt/tomcat/webapps//NR_TEST/Archive/"/>
    <add key="mail" value="giorgio.ferretti@mediocreditoeuropeo.com"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
